USE Maspion
GO
/****** Object:  Table [dbo].[AR_BUKTI_KEKURANGAN_UANG_DO_KONTAN]    Script Date: 16/03/2021 14:38:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AR_BUKTI_KEKURANGAN_UANG_DO_KONTAN](
	[ID_TRANSAKSI] [varchar](50) NOT NULL,
	[NO_KEKURANGAN] [varchar](50) NULL,
	[TGL] [datetime] NULL,
	[NO_DO_KONTAN] [varchar](50) NULL,
	[KODE_CUSTOMER] [varchar](50) NULL,
	[KODE_APPROVE] [varchar](50) NULL,
	[KETERANGAN] [varchar](max) NULL,
	[TOTAL_PENJUALAN] [float] NULL,
	[JUMLAH_KURANG_BAYAR] [float] NULL,
	[PERIODE] [varchar](5) NULL,
	[CRUSER] [varchar](10) NULL,
	[CRTIME] [datetime] NULL,
	[MDUSER] [varchar](10) NULL,
	[MDTIME] [datetime] NULL,
	[BATAL] [bit] NULL,
	[ID_DO_KONTAN] [varchar](50) NULL,
 CONSTRAINT [PK_AR_BUKTI_KEKURANGAN_UANG_DO_KONTAN] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSAKSI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
